* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}





input, textarea {
    padding: 1rem;
    width: 350px;
    background: transparent;
    border: 1px solid black;
    outline: none;
    border-radius: 8px;

    &:focus {
        outline: none;
        background-color: rgba(0, 0, 0, 0.212);
    }
    max-width: calc(100% - 2rem);
}

button {
    padding: 1rem;
    border-radius: 8px;
    cursor: pointer;
    background-color: lightblue;
    font-size: 16px;
    border: none;
    outline: none;


    &:hover {
        background-color: rgb(109, 187, 212);
    }
    
}

@media screen and (max-width: 400px) {
    input {
        width: 80%;
    }

    button {
        font-size: 12px;
        width: 60%;
    }
}




ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    display: flex;
    gap: 10px;
    width: 100%;
    // max-width: 450px;
    
    li {
        padding: 1rem;
        flex-direction: column;
        display: flex;
        background-color: blanchedalmond;
        // width: 100%;
        cursor: pointer;
        border-radius: 8px;


        &:hover {
            background-color: rgb(207, 156, 80) ;
        }
        
    }
}

.error {
    color: red;
}