.application-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    



    h1 {
        font-size: 16px;
        border-bottom: 1px solid black;
        width: fit-content;

        .org-name {
            transform: scale(1.5);
            font-size: 22px;
        }
        
    }

    h2 {
        font-size: 14px;
    }
}