.application-details-page {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 1rem;
    flex-direction: column;
    gap: 10px;

    .filters {
        div > label {
            padding: 1rem;
            background: lightblue;
            margin-right: 5px;

            input {
                display: none;
            }
        }


    }
    
}